.FirstPart {
    position: relative;
    width: 100%;
    height: 448px;
    border: 1px solid black;
    .carousel.carousel-slider + .carousel,
    .carousel.carousel-slider .control-arrow.control-next,
    .carousel.carousel-slider > p {
        display:none;
    }
}