.FirstPart {
    position: relative;
    width: 100%;
    .carousel.carousel-slider + .carousel,
    .carousel.carousel-slider .control-arrow,
    .carousel.carousel-slider .control-arrow.control-next,
    .carousel.carousel-slider > p {
        display:none;
    }
}