.burgerMenu input, .burgerMenu label {
  position: absolute;
  right: 25px;
  top: 21px;
  z-index: 10;
  display: none;
}

.burgerMenu .burgerLabel {
  position: absolute;
  width: 26px;
  height: 12px;
}

.burgerMenu .burgerLabel span {
  display: block;
  position: relative;
}

.burgerMenu .burgerLabel div {
  width: 26px;
  height: 2.5px;
  background-color: black;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.burgerMenu .burgerLabel span::before,
.burgerMenu .burgerLabel span::after {
  content: '';
  display: block;
  width: 26px;
  height: 2.5px;
  position: absolute;
  background-color: black;
}

.burgerMenu .burgerLabel span::before {
  top: -7px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.burgerMenu .burgerLabel span::after {
  top: 7px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.burgerMenu .headerMenu {
  position: absolute;
  top: 0;
  left: 26.61765%;
  font-size: 1em;
  line-height: 21px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 46.76471%;
}

.burgerMenu .headerMenu .headerMenuLine {
  width: 1px;
  height: 95px;
  background-color: #3e3e3e38;
}

.burgerMenu .headerMenu .headerMenuItem {
  color: #3E3E3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 1;
}

.burgerMenu .headerMenu .headerMenuItem .forPhone {
  display: none;
}

.burgerMenu .headerMenu .headerMenuItem .headerMenuItem_underline {
  width: 100%;
  height: 2px;
  margin: 6px 0 11px 0;
  background-color: transparent;
}

.burgerMenu .headerMenu .headerMenuItem .headerMenuItemServ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.burgerMenu .headerMenu .headerMenuItem .headerMenuItemServ .vectorForPhone {
  display: none;
}

.burgerMenu .headerMenu .headerMenuItem .headerMenuItemServ .vectorImg {
  height: 8px;
  width: 14px;
  margin-left: 10px;
  margin-bottom: 24px;
  font-size: 0;
}

.burgerMenu .headerMenu .headerMenuItem .headerMenuItemServ .vectorImg img {
  width: 100%;
}

.burgerMenu .headerMenu .headerMenuItem a {
  color: #3E3E3E;
  text-decoration: none;
}

.burgerMenu .headerMenu .headerMenuItem a.active + .headerMenuItem_underline {
  background-color: #E4B56B;
}
/*# sourceMappingURL=HeaderMenu.css.map */