@import '../../../assets/styles/widthCust';


.burgerMenu {
    input,label{
        position: absolute;
        right: 25px;
        top: 21px;
        z-index: 10;
        display: none;
    }

    .burgerLabel {
        position: absolute;
        width: 26px;
        height: 12px;
    }
    
    .burgerLabel span {
        display: block;
        position: relative;
    }
    .burgerLabel div{
        width: 26px;
        height: 2.5px;
        background-color: black;
        transform: scale(1);
        transition: all 0.2s ease-in;
    }
    
    .burgerLabel span::before,
    .burgerLabel span::after {
        content: '';
        display: block;
        width: 26px;
        height: 2.5px;
        position: absolute;
        background-color: black;
    }
    .burgerLabel span::before {
        top: -7px;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
    .burgerLabel span::after {
        top: 7px;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
    .headerMenu {
        position: absolute;
        top:0;
        left: 362px / 1360px *100%;
        font-size: 1em;
        line-height: 21px;
        overflow: auto;
        display: flex;
        justify-content: space-between;
        height: 100%;
        @include widthCustomizer(636px);
        .headerMenuLine {
            width: 1px;
            height: 95px;
            background-color: #3e3e3e38;;
        }
        .headerMenuItem {
            color: #3E3E3E;
            display: flex;
            align-items: flex-end;
            z-index: 1;
            .forPhone {
                display: none;
            }
            .headerMenuItem_underline {
                width: 100%;
                height: 2px;
                margin: 6px 0 11px 0;
                background-color: transparent;
            }
            .headerMenuItemServ {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .vectorForPhone {
                    display: none;
                }
                .vectorImg {
                    height: 8px;
                    width: 14px;
                    margin-left: 10px;
                    margin-bottom: 24px;
                    font-size: 0;
                    img {
                        width: 100%;
                    }
                }
            }
            a {
                color: #3E3E3E;
                text-decoration: none;
            }
            a.active + .headerMenuItem_underline{
                background-color: #E4B56B;
            }
        }
    }
}