
    .languageBar {
        position: absolute;
        top: 64px;
        right: 90px / 1360px *100%;
        width: 58px;
        height: 21px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .flag {
            height: 21px;
            width: 31px;
            font-size: 0;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .vectorImg {
            height: 8px;
            width: 14px;
            font-size: 0;
            img {
                width: 100%;
                height: 100%;
            }
            transition: all 0.5s linear;
        }
        .vypadashka {
            position: absolute;
            z-index: -1;
            top: 43px;
            left: -10px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            height: 82px;
            width: 51px;
            transform: translateY(-124px);
            transition: all 2s ease 2s;
                .flag {
                    height: 21px;
                    width: 31px;
                    font-size: 0;
                    img {
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        transition: all 0.1s ease 2s;
                    }
                }
            }
        &:hover {
            .vypadashka {
                transform: translateY(0%);
                background: #3e3e3e80;
                transition:transform 0.5s ease, background 0.5s ease 0.3s;
                &:hover {
                    transform: translateY(0%);
                    background: #3e3e3e80;
                    transition: transform 0.5s ease;
                }
                .flag {
                    width: 31px;
                    height: 21px;
                    img {
                        width: 100%;
                        height: 100%;
                        opacity: 1;
                        transition: transform 0.1s ease 2s;
                    }
                }
            }
            .vectorImg {
                transform: rotate(-180deg);
                transition: all 0.5s linear;
            }
        }
    }

