
.left,
.right {
    position: absolute;
    top: 60px;
    width: 750px;
    height: 260px;
    background: #3e3e3ee6;
    .AdaptiveBannerText {
        width: 73%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        color: #FFF;
        .ABT-head {
            font-size: 2.2em;
            line-height: 60px;
        }
        .ABT-main {
            font-size: 1em;
            line-height: 23px;
        }
    }
    .AdaptiveBannerLine {
        position: absolute;
        top: 0;
        width: 2px;
        height: 212px;  
        background: #E4B56B;   
    }
    @media screen and (max-width: 768px) {
        top: 28px;
        width: 326px;
        height: 180px;
        .AdaptiveBannerLine {
            height: 100px;
        }
        .AdaptiveBannerText {
            .ABT-head {
                font-size: 1.1em;
                line-height: 23px;
            }
            .ABT-main {
                font-size: 0.66em;
                line-height: 16px;
            }
        }
    }
}

.left {
    left: 0;
    .AdaptiveBannerText {
        padding: 20px 0px 40px 90px;
        @media screen and (max-width: 768px) {
            width: 80%;
            padding: 15px 0 15px 16px;
        }
    }
    .AdaptiveBannerLine {
        right: 61px;
        @media screen and (max-width: 768px) {
            right: 20px;
        }
    }
}

.right {
    right: 0;
    .AdaptiveBannerText {
        padding: 20px 0px 40px 115px;
        @media screen and (max-width: 768px) {
            width: 90%;
            padding: 15px 0px 15px 65px;
        }
    }
    .AdaptiveBannerLine {
        left: 78px; 
        @media screen and (max-width: 768px) {
            left: 20px;
        }
    }
}